.dashboard-greetings {
  padding: 1rem 2rem;
  margin-block-end: 20px;

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.dashboard-main {
  display: flex;
  flex: 1 ;
  gap: 1rem;
  padding: 0 1rem 3rem;
}

.dashboard-side-panel {
  padding: 0 1rem;

  ul.shortcuts {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0;

    li {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      gap: 15px;
      cursor: pointer;
      > * {
        flex: 1;
        min-width: fit-content;
      }
      &:hover {
        border-radius: $borderRadius;
        background-color: $primary-100;
      }
      i {
        color: $secondary-light;
        font-size: 1.5em;
      }
    }
  }

  .orders-widget {
    margin-block-start: 50px;
  }
  .orders-list {
    & :hover i {
      background-color: $secondary-light;
      color: $white;
      padding: 5px;
      border-radius: 50%;
    }
    a {
      margin-block-start: 20px;
      text-align: center;
      color: #005173;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem;
      font-size: 1.2em;

      &:hover {
        background-color: $secondary-light;
        color: $white;
        border-radius: 10px;
      }
    }
  }
}

.dashboard-main-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.news-container {
  display: flex;
  flex-direction: column;
}

.products-container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  .products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;

    h2 {
      margin: 0;
    }

    a {
      text-decoration: none;
      font-size: 1rem;
      color: $primary;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.calculator-container {;
  margin-block: 2em;
  flex-direction: column;
}
