/* General */
$scale:14px;                    /* main font size */
$borderRadius:12px;             /* border radius of layout element e.g. card, sidebar */
$transitionDuration:.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */

/* Colors */
$primary:#00334D;               /* primary color */
$secondary:#004466;             /* secondary color */
$secondary-light:#005173;       /* secondary light color */

$white:#ffffff;
$black:#000000;
$grey-50:#b2b2b2;
