<footer class="layout-footer">
  <div class="footer-content">
    <div class="footer-section logo">
      <img src="assets/images/logo.png" alt="logo">
      <p>Lorem ipsum dolor sit amet consectetur. Varius dui vitae nulla nulla consequat. Mauris dictumst dui diam massa pretium ornare purus nec. Pellentesque lobortis leo euismod interdum elementum neque. Amet pretium dui in etiam. Magna mattis aliquet blandit ac rhoncus est duis id.</p>
    </div>
    <div class="footer-section contact">
      <h3>Contact</h3>
      <p>Mill Luck AB</p>
      <p>Kungsgatan 12</p>
      <p>Göteborg</p>
      <a href="#">www.mill-luck.com</a>
    </div>
    <div class="footer-section support">
      <h3>Support</h3>
      <p>Do you need assistance?</p>
      <a href="#">Visit our help section</a>
    </div>
  </div>
  <div class="sub-footer">
    <a href="#">Terms of use</a>
    <a href="#">Privacy notice</a>
    <p>Version 10.12366632111 © 2022. Mill Luck AB. All rights reserved.</p>
  </div>
</footer>
